<style>
    .caption {color:#fff;padding: 11px 9px;font-size: 18px;line-height: 18px;}
    .caption>i {font-size: 13px; margin-right: 5px;}
</style>
<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-cogs"></i>{{'{{title}}'}}</div>
    <div class="tools">
        <a href="javascript:;" class="reload"> </a>
    </div>
</div>