<div ng-controller="CampaignCtrl">
<div class="portlet box red">
    
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Filter Option's</div>
        <div class="tools" ng-init="show=true">
            <a href="#" ng-click="show = !show" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-group">
                <form action="#" class="mt-repeater form-horizontal">
                    <div data-repeater-list="group-a">
                        <div data-repeater-item class="mt-repeater-item">
                            <!-- jQuery Repeater Container -->
                            <div class="mt-repeater-input">
                                <label class="control-label">ID</label>
                                <br/>
                                <input ng-model="id" type="text" name="text-input" width="100px" class="form-control" /> </div>
                            <div class="mt-repeater-input">
                                <label class="control-label">Name</label>
                                <br/>
                                <!--select-http config="{url:'https://api.github.com/search/repositories'}"></select-http-->
                                <select 
                                    select-http 
                                    class           = "js-select-http form-control" 
                                    dir             = "rtl"
                                    config          = "{url:'https://api.github.com/search/repositories'}"
                                    change-value    = "changeValue()"
                                    var-select      = "varSelect"
                                ></select>
                            </div>
                            <div class="mt-repeater-input">
                                <label class="control-label">Status</label>
                                <br/>
                                <select name="select-input" class="form-control">
                                    <option value="A" selected>Marketing</option>
                                    <option value="B">Creative</option>
                                    <option value="C">Development</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                        <i class="fa fa-search"></i> Search</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Campaigns</div>
                <div class="tools">
                    <a href="javascript:;" class="reload"> </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">

                <div class="dataTables_wrapper">
                    <div class="row">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th width="20%"> # </th>
                                    <th> Adv ID </th>
                                    <th class="numeric"> Name </th>
                                    <th class="numeric"> Visits </th>
                                    <th class="numeric"> Conversion </th>
                                    <th class="numeric"> Cost </th>
                                    <th class="numeric"> Revenue </th>
                                    <th class="numeric"> Status </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> AAC </td>
                                    <td> AUSTRALIAN AGRICULTURAL COMPANY LIMITED. </td>
                                    <td class="numeric"> &nbsp; </td>
                                    <td class="numeric"> -0.01 </td>
                                    <td class="numeric"> -0.36% </td>
                                    <td class="numeric"> $1.39 </td>
                                    <td class="numeric"> $1.39 </td>
                                    <td class="numeric"> &nbsp; </td>
                                    
                                </tr>
                                <tr>
                                    <td> AAD </td>
                                    <td> ARDENT LEISURE GROUP </td>
                                    <td class="numeric"> $1.15 </td>
                                    <td class="numeric"> +0.02 </td>
                                    <td class="numeric"> 1.32% </td>
                                    <td class="numeric"> $1.14 </td>
                                    <td class="numeric"> $1.15 </td>
                                    <td class="numeric"> $1.13 </td>
                                    
                                </tr>
                                <tr>
                                    <td> AAX </td>
                                    <td> AUSENCO LIMITED </td>
                                    <td class="numeric"> $4.00 </td>
                                    <td class="numeric"> -0.04 </td>
                                    <td class="numeric"> -0.99% </td>
                                    <td class="numeric"> $4.01 </td>
                                    <td class="numeric"> $4.05 </td>
                                    <td class="numeric"> $4.00 </td>
                                    
                                </tr>
                                <tr>
                                    <td> ABC </td>
                                    <td> ADELAIDE BRIGHTON LIMITED </td>
                                    <td class="numeric"> $3.00 </td>
                                    <td class="numeric"> +0.06 </td>
                                    <td class="numeric"> 2.04% </td>
                                    <td class="numeric"> $2.98 </td>
                                    <td class="numeric"> $3.00 </td>
                                    <td class="numeric"> $2.96 </td>
                                    
                                </tr>
                                <tr>
                                    <td> ABP </td>
                                    <td> ABACUS PROPERTY GROUP </td>
                                    <td class="numeric"> $1.91 </td>
                                    <td class="numeric"> 0.00 </td>
                                    <td class="numeric"> 0.00% </td>
                                    <td class="numeric"> $1.92 </td>
                                    <td class="numeric"> $1.93 </td>
                                    <td class="numeric"> $1.90 </td>
                                    
                                </tr>
                                <tr>
                                    <td> ABY </td>
                                    <td> ADITYA BIRLA MINERALS LIMITED </td>
                                    <td class="numeric"> $0.77 </td>
                                    <td class="numeric"> +0.02 </td>
                                    <td class="numeric"> 2.00% </td>
                                    <td class="numeric"> $0.76 </td>
                                    <td class="numeric"> $0.77 </td>
                                    <td class="numeric"> $0.76 </td>
                                    
                                </tr>
                                <tr>
                                    <td> ACR </td>
                                    <td> ACRUX LIMITED </td>
                                    <td class="numeric"> $3.71 </td>
                                    <td class="numeric"> +0.01 </td>
                                    <td class="numeric"> 0.14% </td>
                                    <td class="numeric"> $3.70 </td>
                                    <td class="numeric"> $3.72 </td>
                                    <td class="numeric"> $3.68 </td>
                                    
                                </tr>
                                <tr>
                                    <td> ADU </td>
                                    <td> ADAMUS RESOURCES LIMITED </td>
                                    <td class="numeric"> $0.72 </td>
                                    <td class="numeric"> 0.00 </td>
                                    <td class="numeric"> 0.00% </td>
                                    <td class="numeric"> $0.73 </td>
                                    <td class="numeric"> $0.74 </td>
                                    <td class="numeric"> $0.72 </td>
                                    
                                </tr>
                                <tr>
                                    <td> AGG </td>
                                    <td> ANGLOGOLD ASHANTI LIMITED </td>
                                    <td class="numeric"> $7.81 </td>
                                    <td class="numeric"> -0.22 </td>
                                    <td class="numeric"> -2.74% </td>
                                    <td class="numeric"> $7.82 </td>
                                    <td class="numeric"> $7.82 </td>
                                    <td class="numeric"> $7.81 </td>
                                    
                                </tr>
                                <tr>
                                    <td> AGK </td>
                                    <td> AGL ENERGY LIMITED </td>
                                    <td class="numeric"> $13.82 </td>
                                    <td class="numeric"> +0.02 </td>
                                    <td class="numeric"> 0.14% </td>
                                    <td class="numeric"> $13.83 </td>
                                    <td class="numeric"> $13.83 </td>
                                    <td class="numeric"> $13.67 </td>
                                    
                                </tr>
                                <tr>
                                    <td> AGO </td>
                                    <td> ATLAS IRON LIMITED </td>
                                    <td class="numeric"> $3.17 </td>
                                    <td class="numeric"> -0.02 </td>
                                    <td class="numeric"> -0.47% </td>
                                    <td class="numeric"> $3.11 </td>
                                    <td class="numeric"> $3.22 </td>
                                    <td class="numeric"> $3.10 </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <paginator on-change-page="changePage()" pages-by-rotatore="list.pagesByRotatore" items-by-page="list.itemsByPage" on-page="list.onPage" total-items="list.totalItems"></paginator>
            </div>

            

            

        </div>

        

    </div>

    

</div>
</div>
